.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 5px;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.editContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editContainer img {
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
